// #page-header {
//   height: 200px;
//   background: url('../assets/image/header.jpg');
//   background-attachment: fixed;
//   color: #fff;
//   border-bottom: 1px #eee solid;
//   padding-top: 60px;
// }

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* layout */
.en {
  font-family: 'Exo 2', sans-serif;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

.wrap {
  margin: 0 auto;
}

#skip-nav {
  position: fixed;
  left: 0;
  top: -41px;
  width: 100%;
  line-height: 40px;
  background: #ff8342;
  color: #fff;
  text-align: center;
  border-bottom: #ff0000;
  transition: all 0.5s;
}

#skip-nav:focus {
  top: 0;
}

.mo {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 200;
}

.innerHeader {
  width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.innerHeader .logo {
  float: left;
  padding-top: 30px;
}

.innerHeader .logo img {
  width: 100%;
  height: auto;
}

.innerHeader .gnbMo {
  display: none;
}

.innerHeader .gnb {
  float: left;
  margin-left: 80px;
}

.innerHeader .gnb a, .innerHeader .gnb a:hover {
  color: #000;
  text-decoration: none;
}

/*
.innerHeader .gnb li {float: left; margin-right: 80px;}
.innerHeader .gnb li a {display: block; width: 100%; height: 100%; text-align: center; color: #fff; font-size: 16px;}
.innerHeader .gnb li a:hover {color: #fff; text-decoration: none;}
.innerHeader .gnb li a:focus {color: #ff8342;}
*/


.innerHeader .tnb {
  float: right;
}

.innerHeader .tnb li {
  float: left;
  margin-right: 25px;
}

.innerHeader .tnb li a {
  display: block;
  width: 100px;
  height: 100%;
  text-align: center;
  font-size: 11px;
  color: #fff;
}

.innerHeader .tnb li:nth-child(1) a im .innerHeader .tnb li:nth-child(2) a i {
  font-size: 20px;
  margin-right: 8px;
}

// .innerHeader .tnb li:last-child a {display: block; width: 105px; line-height: 2; margin-top: 35px;}
.innerHeader .tnb li:last-child a i {
  margin-left: 5px;
}

// .innerHeader .tnb li:last-child a:hover {background: #fff; color: #ff8342; transition: all 0.3s;}


/* section.main */
section.main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}

section.main .mainTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  animation-name: mainTitle;
  animation-duration: 1s;
}

@keyframes mainTitle {
  0% {
    opacity: 0;
    top: 60%;
  }
  30% {
    opacity: 0;
    top: 60%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

section.main .mainTitle h2 {
  font-size: 55px;
  margin-bottom: 20px;
}

section.main .mainTitle p {
  font-size: 25px;
  margin-bottom: 30px;
}

section.main .mainTitle .view {
  display: block;
  width: 180px;
  margin: 0 auto;
  padding: 8px 0;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #fff;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

section.main .mainTitle .view:after {
  content: '';
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}

section.main .mainTitle .view:hover:after {
  width: 100%;
  transition: all 0.3s;
}

/* section .title */
section .title {
  color: #000;
  text-align: center;
}

section .title h2 {
  font-size: 45px;
  margin-bottom: 5px;
  font-weight: normal;
}

section .title h2 span {
  color: #ff8342;
}

section .title p {
  font-size: 18px;
  color: #555;
}


/* section.about */
section.about {
  background: #fff;
  padding: 190px 0;
}

// section.about ul {
//   margin: 30px auto;
//   width: 100%;
//   border-bottom: 1px solid #ddd;
//   overflow: hidden;
// }

// section.about ul li {
//   float: left;
// }

// section.about ul li a {
//   display: block;
//   width: 100%;
//   height: 100%;
// }

// section.about ul li a p.img {
//   width: 100%;
//   height: 360px;
//   overflow: hidden;
// }

// section.about ul li a p.img img {
//   width: 100%;
//   height: auto;
//   transition: all .8s;
// }

// section.about ul li a:hover p.img img, section.about ul li a:hover p.img img {
//   transform: scale(1.2);
//   transition: all 1s;
// }

// section.about ul li a .text {
//   padding: 30px;
// }

// section.about ul li a .text h3 {
//   font-size: 20px;
//   margin-bottom: 10px;
// }

// section.about ul li a .text p {
//   font-size: 16px;
//   margin-bottom: 10px;
// }

// section.about ul li a .text p.more {
//   text-transform: uppercase;
//   font-weight: bold;
//   padding-left: 40px;
//   position: relative;
// }

// section.about ul li a .text p.more:before {
//   content: '\f178';
//   font-family: FontAwesome;
//   font-size: 15px;
//   width: 30px;
//   height: 30px;
//   line-height: 30px;
//   background: #ff8342;
//   position: absolute;
//   left: 0;
//   display: block;
//   border-radius: 50%;
// }


/* section.innovations */
section.innovations {
  margin-bottom: 150px;
}

section.innovations .imgBox {
  width: 1400px;
  height: 540px;
  margin: 50px auto 0;
  position: relative;
}

section.innovations .imgBox .inner {
  background: #3a3c4e;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}

section.innovations .imgBox .inner h3 {
  background: #fff;
  padding: 25px 45px;
  box-sizing: border-box;
  font-size: 18px;
}

section.innovations .imgBox .inner h3 span {
  color: #ff8342;
}

section.innovations .imgBox .inner .bottom {
  padding: 35px 85px;
  box-sizing: border-box;
  color: #fff;
  overflow: hidden;
  line-height: 1.6;
}

section.innovations .imgBox .inner .bottom p {
  float: left;
}

section.innovations .imgBox .inner .bottom a {
  float: right;
  padding: 7px 30px;
  background: #ff8342;
  border-radius: 50px;
}

section.innovations .imgBox .inner .bottom a:hover, section.innovations .imgBox .inner .bottom a:focus {
  background: #f86010;
}


/* section.me */
section.me {
  margin-bottom: 150px;
  padding: 80px 0;
}

section.me ul.list {
  width: 1400px;
  margin: 50px auto;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

section.me ul.list > li {
  padding: 30px 60px;
  box-sizing: border-box;
}

section.me ul.list > li:nth-child(1) {
  border-bottom: 1px solid #ddd;
}

section.me ul.list li h3 {
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
}

section.me ul.list li h3 span {
  position: absolute;
  left: -35px;
  color: #ff8342;
}

section.me ul.list li > p {
  line-height: 1.6;
  margin-bottom: 20px;
}

section.me ul.list li > a {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
}

section.me ul.list li > a span {
  color: #ff8342;
  font-weight: bold;
  margin-left: 3px;
  font-size: 14px;
}

section.me ul.in {
  margin-bottom: 30px;
}

section.me ul.in li {
  margin-bottom: 10px;
  overflow: hidden;
}

section.me ul.in li em {
  float: left;
  width: 12%;
  font-weight: bold;
}

section.me ul.in li p {
  float: left;
  width: 88%;
  position: relative;
}

section.me ul.in li p:before {
  content: '';
  position: absolute;
  left: -40px;
  top: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ff8342;
}

section.me button {
  display: block;
  width: 280px;
  background: #ff8342;
  border: none;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  color: #fff;
}


/* section.sns */
section.sns {
  margin-bottom: 60px;
}

section.sns ul {
  width: 1400px;
  margin: 50px auto;
  overflow: hidden;
}

section.sns ul li {
  float: left;
  width: 32%;
  margin-right: 1%;
}

section.sns ul li:last-child {
  margin-right: 0;
}

section.sns ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

section.sns ul li a p.img {
  height: 251px;
  overflow: hidden;
  position: relative;
}

section.sns ul li a p.img:before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 131, 66, 0.9);
  transition: all 0.5s;
}

section.sns ul li a:hover p.img:before, section.sns ul li a:focus p.img:before {
  width: 100%;
  transition: all 0.6s;
}

section.sns ul li a p.img:after {
  content: 'BLOG';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Exo2', sans-serif;
  font-size: 15px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 5px 30px;
  opacity: 0;
  transition: all 0.5s;
}

section.sns ul li a:hover p.img:after, section.sns ul li a:focus p.img:after {
  opacity: 1;
  transition: all 0.5s;
}

section.sns ul li a p.img img {
  width: 100%;
}

section.sns ul li a .bottom {
  width: 100%;
  padding: 20px 0 20px 30px;
  box-sizing: border-box;
}

section.sns ul li a .bottom p {
  font-size: 18px;
  font-weight: bold;
}

section.sns ul li a .bottom p.color {
  color: #ff8342;
  font-size: 15px;
  font-weight: normal;
}

section.sns ul li a .bottom p.time {
  color: #999;
  font-size: 15px;
  font-weight: normal;
  padding-left: 20px;
  position: relative;
  margin-top: 30px;
}

section.sns ul li a .bottom p.time:before {
  content: '\f017';
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  left: 0;
  top: -3px;
  line-height: 30px;
}

/* footer */
footer {
  clear: both;
  border-top: 1px solid #999;
  padding: 30px 0 50px;
}

footer .inner {
  width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

footer .inner .ftLogo {
  float: left;
}

footer .inner .address {
  float: left;
  margin-left: 100px;
  margin-top: 10px;
}

footer .inner .address li:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}

footer .inner .address li:last-child {
  color: #999;
}

footer .inner .list {
  float: right;
  font-family: 'Exo 2', sans-serif;
}

footer .inner .list li {
  float: left;
  margin-left: 80px;
}

footer .inner .list li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

footer .inner .list li a:after {
  content: '';
  width: 4px;
  height: 4px;
  background: #ccc;
  position: absolute;
  right: -50px;
  top: 10px;
  border-radius: 50%;
}

footer .inner .list li a:hover, footer .inner .list li a:focus {
  color: #ff8342;
  text-decoration: underline;
}

footer .inner .list li:last-child a {
  font-weight: bold;
  font-family: 'Exo 2', sans-serif;
}

/* 1599 */
@media screen and (max-width: 1599px) {
  header .innerHeader {
    width: 95%;
    min-width: 1024px;
  }
  .innerHeader .gnb {
    margin-left: 50px;
  }
  .innerHeader .gnb li {
    margin-right: 40px;
  }
  .innerHeader .gnb li:last-child {
    margin-right: 0;
  }
  .innerHeader .tnb li {
    margin-right: 15px;
  }
}

/* 2021-2022 custom */
.btn-right {
  float: right;
}

.btn-center {
  margin: auto;
  display: block;
}

.detail-btn-area {
  margin: 50px 0;
  float: right;

  button {
    margin-left: 10px;
  }
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: auto;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}

// editor
.editor-wrapper-class{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.editor {
height: 500px !important;
border: 1px solid #f1f1f1 !important;
padding: 5px !important;
border-radius: 2px !important;
}

// main
.main-list {
  text-align: center;
  width: 100%;
  .main-list-item {
    float: none;
  }
}

//Paging
.rc-pagination {
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
}
.rc-pagination ul,
.rc-pagination ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rc-pagination::after {
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ' ';
}
.rc-pagination-total-text {
  display: inline-block;
  height: 28px;
  margin-right: 8px;
  line-height: 26px;
  vertical-align: middle;
}
.rc-pagination-item {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  margin-right: 8px;
  font-family: Arial;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
  user-select: none;
}
.rc-pagination-item a {
  display: block;
  padding: 0 6px;
  color: rgba(0, 0, 0, 0.85);
  transition: none;
}
.rc-pagination-item a:hover {
  text-decoration: none;
}
.rc-pagination-item:focus,
.rc-pagination-item:hover {
  border-color: #1890ff;
  transition: all 0.3s;
}
.rc-pagination-item:focus a,
.rc-pagination-item:hover a {
  color: #1890ff;
}
.rc-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: #1890ff;
}
.rc-pagination-item-active a {
  color: #1890ff;
}
.rc-pagination-item-active:focus,
.rc-pagination-item-active:hover {
  border-color: #40a9ff;
}
.rc-pagination-item-active:focus a,
.rc-pagination-item-active:hover a {
  color: #40a9ff;
}
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  outline: 0;
}
.rc-pagination-jump-prev button,
.rc-pagination-jump-next button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #666;
}
.rc-pagination-jump-prev button:after,
.rc-pagination-jump-next button:after {
  display: block;
  content: '•••';
}
.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  margin-right: 8px;
}
.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  display: inline-block;
  min-width: 28px;
  height: 28px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Arial;
  line-height: 28px;
  text-align: center;
  vertical-align: middle;
  list-style: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.rc-pagination-prev,
.rc-pagination-next {
  outline: 0;
}
.rc-pagination-prev button,
.rc-pagination-next button {
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  user-select: none;
}
.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
  border-color: #40a9ff;
}
.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}
.rc-pagination-prev:focus .rc-pagination-item-link,
.rc-pagination-next:focus .rc-pagination-item-link,
.rc-pagination-prev:hover .rc-pagination-item-link,
.rc-pagination-next:hover .rc-pagination-item-link {
  color: #1890ff;
  border-color: #1890ff;
}
.rc-pagination-prev button:after {
  content: '‹';
  display: block;
}
.rc-pagination-next button:after {
  content: '›';
  display: block;
}
.rc-pagination-disabled,
.rc-pagination-disabled:hover,
.rc-pagination-disabled:focus {
  cursor: not-allowed;
}
.rc-pagination-disabled .rc-pagination-item-link,
.rc-pagination-disabled:hover .rc-pagination-item-link,
.rc-pagination-disabled:focus .rc-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination-slash {
  margin: 0 10px 0 5px;
}
.rc-pagination-options {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
}
@media all and (-ms-high-contrast: none) {
  .rc-pagination-options *::-ms-backdrop,
  .rc-pagination-options {
    vertical-align: top;
  }
}
.rc-pagination-options-size-changer.rc-select {
  display: inline-block;
  width: auto;
  margin-right: 8px;
}
.rc-pagination-options-quick-jumper {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
}
.rc-pagination-options-quick-jumper input {
  width: 50px;
  margin: 0 8px;
}
.rc-pagination-simple .rc-pagination-prev,
.rc-pagination-simple .rc-pagination-next {
  height: 24px;
  line-height: 24px;
  vertical-align: top;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link {
  height: 24px;
  background-color: transparent;
  border: 0;
}
.rc-pagination-simple .rc-pagination-prev .rc-pagination-item-link::after,
.rc-pagination-simple .rc-pagination-next .rc-pagination-item-link::after {
  height: 24px;
  line-height: 24px;
}
.rc-pagination-simple .rc-pagination-simple-pager {
  display: inline-block;
  height: 24px;
  margin-right: 8px;
}
.rc-pagination-simple .rc-pagination-simple-pager input {
  box-sizing: border-box;
  height: 100%;
  margin-right: 8px;
  padding: 0 6px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  transition: border-color 0.3s;
}
.rc-pagination-simple .rc-pagination-simple-pager input:hover {
  border-color: #1890ff;
}
.rc-pagination.rc-pagination-disabled {
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item {
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item a {
  color: rgba(0, 0, 0, 0.25);
  background: transparent;
  border: none;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active {
  background: #dbdbdb;
  border-color: transparent;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-active a {
  color: #fff;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-link-icon {
  opacity: 0;
}
.rc-pagination.rc-pagination-disabled .rc-pagination-item-ellipsis {
  opacity: 1;
}
@media only screen and (max-width: 992px) {
  .rc-pagination-item-after-jump-prev,
  .rc-pagination-item-before-jump-next {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .rc-pagination-options {
    display: none;
  }
}


.section-list-type {
  margin: 30px auto;

  .section-item {
    height: 160px;

    .section-item-box {
      padding: 32px 0;
    }

    .desc-title {
      color: #000;
      font-size: 22px;
      font-weight: normal;
    }

    .desc-content {
      display: -webkit-box;
      overflow: hidden;
      font-size: 14px;
      margin-top: 10px;
    }
  }

  .img-thumb {
    display: block;
    float: left;
    position: relative;
    width: 128px;
    height: 128px;
    padding: 0;
    margin: 0 46px 0 0;
  }
}